nav ul li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    color:red

}
 nav {
    text-align: center;

 }
 td{
    border: end end radius 5px;;
    text-align: center;
    height:200px;
    padding: 30px;
    margin-left:20px;
    margin-right: 20px;

 }
 tr{
    border-end-end-radius:20%;
    text-align: center;
    height:200px;
    padding: 20px;
    margin-left:20px;
    margin-right: 20px;

 }
 img{

    justify-content:right;
    position: relative;
    align-items:right ;
    display:inline;
    text-align: right;
    width: 500px;
    height: 500px;
    background-color: black;
    position:sticky;
    float:right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
 }


h2 h3{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
 }

 p{
  font: size 3.4em;
  opacity: 0.9;
  font-weight: 1000;
  margin-top: 5px;
  margin-left: 20px;
 }

#form {
    padding: 125px;
}
table{
   margin-left: 100px;
   margin-right: 20px; 

}


